<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">
<head>
  <script src="./js/main.js" type="text/javascript"></script>
  <meta charset="UTF-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'blog/main.css' %}">
  <link rel="manifest" href="site.webmanifest">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <h1>Welcome !</h1>
  <p>This will be the homepage of the portfolio</p>
  <div id="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  </div>
  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat porttitor nisl, ut varius massa auctor id. Ut suscipit ante in orci feugiat fringilla at in risus. Suspendisse vitae venenatis arcu. Vestibulum ullamcorper quam non nisl ultrices sagittis quis at lectus. Nunc posuere, mauris cursus tristique ullamcorper, lorem risus vulputate est, ut blandit nisl nisl sed enim. Mauris venenatis massa non ornare iaculis. Praesent pharetra pellentesque metus sed sagittis. Fusce at erat magna. Quisque tincidunt in tellus a pretium. Sed malesuada ante vehicula libero convallis, quis tempor nunc imperdiet. Fusce finibus eros velit, a rutrum nisi pharetra quis.

Sed fringilla dictum tempor. Ut vehicula, ligula eget laoreet convallis, arcu nibh semper ipsum, pretium consectetur quam purus in dui. Praesent at ligula id orci tincidunt aliquam a a turpis. Aliquam at velit est. Donec id elementum tellus. Aliquam elit augue, auctor non dui eu, sodales lacinia lectus. Vestibulum sit amet ligula nec lacus laoreet mattis. Vivamus ut efficitur nisi, a sodales ante. Duis ac purus ut ligula lobortis facilisis. Pellentesque nulla enim, rutrum at libero in, feugiat consequat est. Quisque laoreet, nisl eget pulvinar consectetur, lectus enim sagittis erat, a vestibulum sapien lorem ut urna. Morbi et congue mi. Suspendisse sit amet egestas tortor.

Vestibulum malesuada lacinia mollis. Donec a lacus pretium, gravida sapien vel, maximus turpis. Etiam fringilla lobortis metus, non lobortis turpis maximus nec. Nam condimentum elementum enim, quis porttitor dolor iaculis porttitor. Maecenas eget leo eu turpis aliquet pulvinar. Nulla in volutpat mi. Mauris nec dictum urna. Vivamus et venenatis odio. In non metus sit amet mauris finibus accumsan. Phasellus sollicitudin vulputate nunc vitae ultrices. Nunc mi dui, consequat nec convallis euismod, aliquam id diam.

Vestibulum ut condimentum metus. Aenean lobortis, neque vitae aliquam porta, turpis velit blandit velit, a bibendum arcu magna vel dolor. Vivamus tempor ex turpis, non dignissim arcu vehicula et. Mauris sit amet nisi id arcu consequat gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi a eros sodales, pellentesque sem sit amet, euismod diam. Donec eget finibus leo. Vivamus iaculis tempus quam et mattis. Nulla commodo ac arcu nec fermentum. Nam sed ipsum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tristique mollis purus malesuada fermentum.

Aliquam erat volutpat. Nulla mauris risus, porta in tellus ut, vehicula imperdiet lectus. In tincidunt, neque sed tempor facilisis, ante nibh ultricies augue, scelerisque dictum nibh sem sed augue. Integer a tortor eleifend, sollicitudin lorem id, ullamcorper risus. Pellentesque ut luctus lacus. In eget urna mauris. Nulla odio nisi, consectetur imperdiet velit non, pretium viverra leo. Ut dignissim felis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam est ex, posuere ac enim nec, finibus efficitur justo. Nunc vel rhoncus ipsum. Integer ac nisi at mi tempor convallis.
  </p>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat porttitor nisl, ut varius massa auctor id. Ut suscipit ante in orci feugiat fringilla at in risus. Suspendisse vitae venenatis arcu. Vestibulum ullamcorper quam non nisl ultrices sagittis quis at lectus. Nunc posuere, mauris cursus tristique ullamcorper, lorem risus vulputate est, ut blandit nisl nisl sed enim. Mauris venenatis massa non ornare iaculis. Praesent pharetra pellentesque metus sed sagittis. Fusce at erat magna. Quisque tincidunt in tellus a pretium. Sed malesuada ante vehicula libero convallis, quis tempor nunc imperdiet. Fusce finibus eros velit, a rutrum nisi pharetra quis.

Sed fringilla dictum tempor. Ut vehicula, ligula eget laoreet convallis, arcu nibh semper ipsum, pretium consectetur quam purus in dui. Praesent at ligula id orci tincidunt aliquam a a turpis. Aliquam at velit est. Donec id elementum tellus. Aliquam elit augue, auctor non dui eu, sodales lacinia lectus. Vestibulum sit amet ligula nec lacus laoreet mattis. Vivamus ut efficitur nisi, a sodales ante. Duis ac purus ut ligula lobortis facilisis. Pellentesque nulla enim, rutrum at libero in, feugiat consequat est. Quisque laoreet, nisl eget pulvinar consectetur, lectus enim sagittis erat, a vestibulum sapien lorem ut urna. Morbi et congue mi. Suspendisse sit amet egestas tortor.

Vestibulum malesuada lacinia mollis. Donec a lacus pretium, gravida sapien vel, maximus turpis. Etiam fringilla lobortis metus, non lobortis turpis maximus nec. Nam condimentum elementum enim, quis porttitor dolor iaculis porttitor. Maecenas eget leo eu turpis aliquet pulvinar. Nulla in volutpat mi. Mauris nec dictum urna. Vivamus et venenatis odio. In non metus sit amet mauris finibus accumsan. Phasellus sollicitudin vulputate nunc vitae ultrices. Nunc mi dui, consequat nec convallis euismod, aliquam id diam.

Vestibulum ut condimentum metus. Aenean lobortis, neque vitae aliquam porta, turpis velit blandit velit, a bibendum arcu magna vel dolor. Vivamus tempor ex turpis, non dignissim arcu vehicula et. Mauris sit amet nisi id arcu consequat gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi a eros sodales, pellentesque sem sit amet, euismod diam. Donec eget finibus leo. Vivamus iaculis tempus quam et mattis. Nulla commodo ac arcu nec fermentum. Nam sed ipsum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tristique mollis purus malesuada fermentum.

Aliquam erat volutpat. Nulla mauris risus, porta in tellus ut, vehicula imperdiet lectus. In tincidunt, neque sed tempor facilisis, ante nibh ultricies augue, scelerisque dictum nibh sem sed augue. Integer a tortor eleifend, sollicitudin lorem id, ullamcorper risus. Pellentesque ut luctus lacus. In eget urna mauris. Nulla odio nisi, consectetur imperdiet velit non, pretium viverra leo. Ut dignissim felis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam est ex, posuere ac enim nec, finibus efficitur justo. Nunc vel rhoncus ipsum. Integer ac nisi at mi tempor convallis.
  </p>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat porttitor nisl, ut varius massa auctor id. Ut suscipit ante in orci feugiat fringilla at in risus. Suspendisse vitae venenatis arcu. Vestibulum ullamcorper quam non nisl ultrices sagittis quis at lectus. Nunc posuere, mauris cursus tristique ullamcorper, lorem risus vulputate est, ut blandit nisl nisl sed enim. Mauris venenatis massa non ornare iaculis. Praesent pharetra pellentesque metus sed sagittis. Fusce at erat magna. Quisque tincidunt in tellus a pretium. Sed malesuada ante vehicula libero convallis, quis tempor nunc imperdiet. Fusce finibus eros velit, a rutrum nisi pharetra quis.

Sed fringilla dictum tempor. Ut vehicula, ligula eget laoreet convallis, arcu nibh semper ipsum, pretium consectetur quam purus in dui. Praesent at ligula id orci tincidunt aliquam a a turpis. Aliquam at velit est. Donec id elementum tellus. Aliquam elit augue, auctor non dui eu, sodales lacinia lectus. Vestibulum sit amet ligula nec lacus laoreet mattis. Vivamus ut efficitur nisi, a sodales ante. Duis ac purus ut ligula lobortis facilisis. Pellentesque nulla enim, rutrum at libero in, feugiat consequat est. Quisque laoreet, nisl eget pulvinar consectetur, lectus enim sagittis erat, a vestibulum sapien lorem ut urna. Morbi et congue mi. Suspendisse sit amet egestas tortor.

Vestibulum malesuada lacinia mollis. Donec a lacus pretium, gravida sapien vel, maximus turpis. Etiam fringilla lobortis metus, non lobortis turpis maximus nec. Nam condimentum elementum enim, quis porttitor dolor iaculis porttitor. Maecenas eget leo eu turpis aliquet pulvinar. Nulla in volutpat mi. Mauris nec dictum urna. Vivamus et venenatis odio. In non metus sit amet mauris finibus accumsan. Phasellus sollicitudin vulputate nunc vitae ultrices. Nunc mi dui, consequat nec convallis euismod, aliquam id diam.

Vestibulum ut condimentum metus. Aenean lobortis, neque vitae aliquam porta, turpis velit blandit velit, a bibendum arcu magna vel dolor. Vivamus tempor ex turpis, non dignissim arcu vehicula et. Mauris sit amet nisi id arcu consequat gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi a eros sodales, pellentesque sem sit amet, euismod diam. Donec eget finibus leo. Vivamus iaculis tempus quam et mattis. Nulla commodo ac arcu nec fermentum. Nam sed ipsum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tristique mollis purus malesuada fermentum.

Aliquam erat volutpat. Nulla mauris risus, porta in tellus ut, vehicula imperdiet lectus. In tincidunt, neque sed tempor facilisis, ante nibh ultricies augue, scelerisque dictum nibh sem sed augue. Integer a tortor eleifend, sollicitudin lorem id, ullamcorper risus. Pellentesque ut luctus lacus. In eget urna mauris. Nulla odio nisi, consectetur imperdiet velit non, pretium viverra leo. Ut dignissim felis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam est ex, posuere ac enim nec, finibus efficitur justo. Nunc vel rhoncus ipsum. Integer ac nisi at mi tempor convallis.
  </p>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat porttitor nisl, ut varius massa auctor id. Ut suscipit ante in orci feugiat fringilla at in risus. Suspendisse vitae venenatis arcu. Vestibulum ullamcorper quam non nisl ultrices sagittis quis at lectus. Nunc posuere, mauris cursus tristique ullamcorper, lorem risus vulputate est, ut blandit nisl nisl sed enim. Mauris venenatis massa non ornare iaculis. Praesent pharetra pellentesque metus sed sagittis. Fusce at erat magna. Quisque tincidunt in tellus a pretium. Sed malesuada ante vehicula libero convallis, quis tempor nunc imperdiet. Fusce finibus eros velit, a rutrum nisi pharetra quis.

Sed fringilla dictum tempor. Ut vehicula, ligula eget laoreet convallis, arcu nibh semper ipsum, pretium consectetur quam purus in dui. Praesent at ligula id orci tincidunt aliquam a a turpis. Aliquam at velit est. Donec id elementum tellus. Aliquam elit augue, auctor non dui eu, sodales lacinia lectus. Vestibulum sit amet ligula nec lacus laoreet mattis. Vivamus ut efficitur nisi, a sodales ante. Duis ac purus ut ligula lobortis facilisis. Pellentesque nulla enim, rutrum at libero in, feugiat consequat est. Quisque laoreet, nisl eget pulvinar consectetur, lectus enim sagittis erat, a vestibulum sapien lorem ut urna. Morbi et congue mi. Suspendisse sit amet egestas tortor.

Vestibulum malesuada lacinia mollis. Donec a lacus pretium, gravida sapien vel, maximus turpis. Etiam fringilla lobortis metus, non lobortis turpis maximus nec. Nam condimentum elementum enim, quis porttitor dolor iaculis porttitor. Maecenas eget leo eu turpis aliquet pulvinar. Nulla in volutpat mi. Mauris nec dictum urna. Vivamus et venenatis odio. In non metus sit amet mauris finibus accumsan. Phasellus sollicitudin vulputate nunc vitae ultrices. Nunc mi dui, consequat nec convallis euismod, aliquam id diam.

Vestibulum ut condimentum metus. Aenean lobortis, neque vitae aliquam porta, turpis velit blandit velit, a bibendum arcu magna vel dolor. Vivamus tempor ex turpis, non dignissim arcu vehicula et. Mauris sit amet nisi id arcu consequat gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi a eros sodales, pellentesque sem sit amet, euismod diam. Donec eget finibus leo. Vivamus iaculis tempus quam et mattis. Nulla commodo ac arcu nec fermentum. Nam sed ipsum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tristique mollis purus malesuada fermentum.

Aliquam erat volutpat. Nulla mauris risus, porta in tellus ut, vehicula imperdiet lectus. In tincidunt, neque sed tempor facilisis, ante nibh ultricies augue, scelerisque dictum nibh sem sed augue. Integer a tortor eleifend, sollicitudin lorem id, ullamcorper risus. Pellentesque ut luctus lacus. In eget urna mauris. Nulla odio nisi, consectetur imperdiet velit non, pretium viverra leo. Ut dignissim felis dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam est ex, posuere ac enim nec, finibus efficitur justo. Nunc vel rhoncus ipsum. Integer ac nisi at mi tempor convallis.
  </p>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
