{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Hey!!</h5>
    <div class="card-body">
        <p class="card-text"> Thanks for visiting</p>
        <p class="card-text"> There'll be a list of posts here</p>
      <a class="twitter-timeline" data-width="300" data-height="450" data-theme="light" href="https://twitter.com/SuriyaGane?ref_src=twsrc%5Etfw">my tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
</div>

{% endblock sidebar %}
