{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

   <!-- Things I'm reading goes here -->
<div class="home-content">
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
  <h4 class="card-h4">What I'm reading</h4>
  {% if reading %}
  <ul style="list-style-type:none">
  {% for element in reading %}
  <li>
    <a class="title" href="{{ element.link }}" target="_blank">{{ element.title }}</a>
  </li>
    {% endfor %}
    </ul>
  {% else %}
  <p>I am not reading anything.</p>
  <p>Sadly.</p>
  {% endif %}
  </div>
  </div>
</div>
</div>



  <!-- list of post contents goes here -->
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top div-p-list">
  <h4 class="card-h4">Recent Posts</h4>
{% if my_post_list %}
  <div class="text-left">
  <ul style="list-style-type:none">
{% for post in my_post_list %}


  <li><a class="title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>

{% endfor %}
  </ul>
    </div>

{% else %}
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                           <p> There are no books (or so it would seem)</p>
                </div>
            </div>
        </div>
        {% endif %}
  </div>
  </div>
  </div>

{% endblock %}
